body {
  background-color: cornflowerblue;
}
body .butt {
  height: 70px;
  width: 70px;
  background-color: #e6ab5e;
  margin-bottom: 10px;
  border: 0;
  margin-right: 3px;
  border-radius: 5px;
  font-size: 25px;
}
body .main {
  text-align: center;
  padding-top: 100px;
}
body .main .head {
  color: darkseagreen;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}
body .main .score-1 {
  padding-top: 20px;
  font-size: 20px;
}
